.row{
  height: 100vh;
  background-color:rgba(10, 15, 55, 1);
  .title{
    height: 20%;

    h1{
      font-style: normal;
      font-weight: 700;
      font-size: 85px;
      line-height: 131px;
      color: #FFFFFF;
      margin-left: 70px;
    }
  }
  .text{
    height: 50%;
    .one{
      width: 647px;
      height: 318px;
      background: #151C52;

      border-radius: 20px;
    }
  }
.card2{

width: 1300px;
height: 100px;
left: 132px;
top: 658px;

background: #151C52;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 20px;
}
}
