<div class="row ">

      <div class="col-sm-12 title flex-start">
       <h1>
        Sobre .
       </h1>
      </div>

      <div class="col-sm-6 text flex-center">
        <div class="card one flex-center">
          <h4 style="color: #fff; margin-left: 10px;">Estudante de Sistemas de Informação na PUCRS, atualmente estou trabalhando com desenvolvimento FrontEnd na empresa Hammer Consult.
            Sou uma pessoa muito alegre com um mindset de crescimento, busco sempre trabalhar em equipe e dialogar com as pessoas ao meu redor, tenho muitos objetivos e sonhos para realizar, algo que sempre me chamou atenção foi o empreendedorismo, poder ajudar as pessoas criando soluções que facilitaram o seu dia a dia.</h4>
        </div>
      </div>
      <div class="col-sm-6 text flex-center">
        <div class="">
          <img src="../../../assets/img/Web Report.png" alt="">
        </div>
      </div>
</div>
