<div class="row ">

      <div class="col-sm-12 title flex-start">
       <h1>
        Sobre .
       </h1>
      </div>

      <div class="col-sm-6 text flex-center">
        <div class="card one">

        </div>
      </div>
      <div class="col-sm-6 text flex-center">
        <div class="">
          <img src="../../../assets/img/Web Report.png" alt="">
        </div>
      </div>
      <div class="col-sm-12 detalhes flex-center">
        <div class="card two d-flex">


          <h3>Informações para contato</h3>
          <img src="../../../assets/img/Group 2.png" alt="" class="icone">
        </div>
      </div>
</div>
