<div class="row ">
    <div class="container one flex-between ">
    <div class="col-sm-6 flex-start">
      <div class="circulo flex-center">
        <img src="../../../assets/img/foguete.png" alt="" class="foguete">
      </div>
    </div>
    <div class="col-sm-6 flex-center">
      <div class="title">
        <h1>Desenvolvedor</h1>
        <div class="d-flex">
          <div>
            <h1>Frontend</h1>
          </div>
          <div class="flex-center">
            <button class=" cur btn btn-primary">Currículo</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container two ">
    <div class="d-flex flex-center ">
      <div class="mx-4 mt-5">
        <img src="../../../assets/img/sebrae.png" alt="" class="sebrae">
      </div>
      <div class="mx-4 mt-5">
        <img src="../../../assets/img/eletrobras (1).png" alt="" class="eletrobras">
      </div>
      <div class="mx-4 mt-5">
        <img src="../../../assets/img/mv (1).png" alt="" class="mvl">
      </div>
      <div class="mx-4 mt-5">
        <img src="../../../assets/img/healtcae.png" alt="" class="healcare">
      </div>
      </div>
    </div>
  </div>

